.header__lang-link {
  margin-top: auto;
  margin-bottom:auto;
  display: flex;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 320px) {
.header__lang-link {
    min-height: 20px;
  }
}
