.photo-grid {
  margin-top: 92px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns:  repeat(4, 300px);
  grid-template-rows: repeat(3, 229px);
  justify-content: center;
  width: calc(100% - 2*48px);
}

@media all and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns:  repeat(4, 300px);
    grid-template-rows: repeat(3, 229px);
  }
}

@media all and (max-width: 1250px) {
  .photo-grid {
    grid-template-columns:  repeat(3, 314px);
    grid-template-rows: repeat(4, 239px);
  }
}

@media all and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns:  repeat(3, 314px);
    grid-template-rows: repeat(4, 239px);
  }
}

@media screen and (max-width: 950px) {
  .photo-grid {
    margin-top: 88px;
    width: calc(100% - 2*24px);
    grid-template-columns:  repeat(2, 314px);
    grid-template-rows: repeat(6, 239px);
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    grid-template-columns:  repeat(2, 368px);
    grid-template-rows: repeat(6, 280px);
  }
}

@media screen and (max-width: 730px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(1, 368px);
    grid-template-rows: repeat(12, 280px);
  }
}

@media all and (max-width: 480px) {
  .photo-grid {
    margin-top: 64px;
    width: calc(100% - 2*16px);
    grid-template-columns:  repeat(auto-fit, 300px);
    grid-template-rows: repeat(12, 228px);
  }
}
