.place__container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place__container {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place__container {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .place__container {
    max-width: 100%;
    margin-top: 32px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .place__container {
    max-width: calc(100% - 2*16px);
    margin-left: auto;
    margin-right: auto;
  }
}
