
@media screen and (max-width: 2000px){
    .place{
        width: calc(100%);
        min-width:720px;
        height: 660px;
        display:grid;
        grid-template-rows:  152px 460px;
        grid-template-columns: 460px 484px;  
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
        margin-bottom:0px;
    }
    .place:nth-child(1) { margin-top: 0px;}
}

@media screen and (max-width: 1280px){
    .place{
        width: calc(100%);
        min-width:570px;
        height: 660px;
        display:grid;
        grid-template-rows:  152px 460px;
        grid-template-columns: 460px 484px;      
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
        margin-bottom:0px;
    }
    .place:nth-child(1) { margin-top: 0px;}
}
@media screen and (max-width: 1024px){
    .place{
        width: calc(100%);
        min-width:320px;
        height: 640px;
        grid-template-rows:  152px 440px;
        grid-template-columns: 440px 456px;  
        display:grid;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
        margin-bottom:0px;
    }
    .place:nth-child(1) { margin-top: 0px;}
}
@media screen and (max-width: 768px){
    .place{
        width: calc(100%);
        min-width:320px;
        height:581px;
        display:grid;
        grid-template-rows:  46px 340px;
        grid-template-columns: 340px 352px;  
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 73px;
        margin-bottom:0px;
    }
    .place:nth-child(1) { margin-top: 0px;}
}
@media screen and (max-width: 320px){
    .place{
        width: calc(100%);
        min-width:320px;
        height:1042px;
        display:flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom:0px;
    }
    .place:nth-child(1) { margin-top: 0px;}
}