.place__image {
  width:100%;
  min-width: 440px;
  min-height: 440px;
  max-width: 460px;
  max-height: 460px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-height: 440px;
    min-height: 340px;
    max-width: 440px;
    min-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    min-width: 340px;
    min-height: 340px;
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 760px;
    min-width: 500px;
    max-height: 760px;
    min-height: 500px;
    width:100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 590px) {
  .place__image {
    max-height: 590px;
    min-height: 350px;
    max-width: 590px;
    min-width: 350px;
  }
}

@media screen and (max-width: 420px) {
  .place__image {
    max-height: 420px;
    min-height: 288px;
    max-width: 420px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}
