.cover__subtitle {
  max-width: 360px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 560px) {
  .cover__subtitle {
    min-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
