
@media screen and (max-width: 1280px){
    .header__logo{
        width: 176px;
        height: 52px;
        background-image:(images/__logo.png);
    }
}
@media screen and (max-width: 1024px){
    .header__logo{
        width: 176px;
        height: 52px;
        background-image:(images/__logo.png);
    }
}
@media screen and (max-width: 768px){
    .header__logo{
        width: 176px;
        height: 52px;
        background-image:(images/__logo.png);
    }
}
@media screen and (max-width: 320px){
    .header__logo{
        width: 142px;
        height: 42px;
        background-image:(images/__logo.png);
    }
}