.footer__link_copyright{
    width: 186px;
    height: 16px;
    font-family: Inter;
    font-style: regular;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    line-height: 94%;
    text-align: right;
    align-self: right;
    color: #FFFFFF;
    text-decoration: none;  
}