.footer__link{
    height: 18px;
    margin-left: 18px;
    font-family: Inter;
    font-style: regular;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    line-height: 93%;
    color: #FFFFFF;
    text-decoration: none; 
}
.footer__link:nth-child(1) { margin-left: 0px;}