.lead__title {
  width: calc(100% - 2*132px);
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    width: calc(100% - 2*104px);
  }
}

@media screen and (max-width: 1170px) {
  .lead__title {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: calc(100% - 2*124px);
  }
}

@media screen and (max-width: 970px) {
  .lead__title {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 715px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 400px) {
  .lead__title {
    width: calc(100% - 2*16px);
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {

  }
}
