.place__paragraph {
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 26px;
  margin-bottom: 0px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  text-transform: inherit;
  box-sizing: border-box;
}

.place__paragraph:nth-child(1) {
  margin-top: 0px;
}

@media screen and (max-width: 1000px) {
  .place__paragraph {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
  }
  .place__paragraph:nth-child(1) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
