.intro {
  margin-top: 90px;
  margin-bottom: 0px;
  height: 100%;
  width: calc(100% - 2*148px);
  min-width: 690px;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
    min-width:250px;
    margin-top: 86px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 2*16px);
    margin-top: 64px;
  }
}
