.cover {
  min-height: 740px;
  width: calc(100% - 2*48px);
  margin-top: 92px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction: column;
  box-sizing:border-box;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    margin-top: 66px;
    min-height: 350px;
  }
}

@media screen and (max-width: 420px) {
  .cover {
    min-width: 300px;
    min-height: 200px;
  }
}

