.cover {
  min-height: 740px;
  width: calc(100% - 2*48px);
  margin-top: 92px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction: column;
  box-sizing:border-box;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-width: 1024px;
    min-height: 640px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 480px;

  }
}

@media screen and (max-width: 768px) {
  .cover {

  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    margin-top: 90px;
    border: 1px solid red;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
