@media screen and (max-width: 2000px){
    .cover__background{
        max-width: 1184px;
        height: 740px;
        margin-left: 0 auto;
        margin-right: 0 auto;

        border: 1px solid blueviolet;
    }
}
@media screen and (max-width: 1280px){
    .cover__background{
        max-width: 1184px;
        height: 740px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        border: 1px solid blueviolet;
    }
}
@media screen and (max-width: 1024px){
    .cover__background{
        max-width: 1024px;
        height: 640px;
        margin-left: 0 auto;
        margin-right: 0 auto;

    }
}
@media screen and (max-width: 768px){
    .cover__background{
        max-width: 768px;
        height: 480px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        background-size: contain;
        scale:fill;
        z-index: -1;
        object-fit: cover;
        background-repeat: no-repeat;
        border: 1px solid blueviolet;
    }
}
@media screen and (max-width: 320px){
    .cover__overlay{
        max-width: 320px;
        height: 200px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        opacity: 0.3;
    }
}

