.cover__overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/access_roads_to_the_train_station.png);
  background-size: 100% 100%;
  text-decoration: none;
  z-index: 1;
  min-height: 740px;
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 200px;
  }
}

.cover__overlay::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover__overlay:hover::after {
  opacity: 0.8;
  transition: 1s;
}
