
@media screen and (max-width: 2000px){
    .place__website{
        width: 456px;
        height: 46px;
        margin-left: 40px;
        margin-right:0px;
        margin-top:106px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 1280px){
    .place__website{
        width: 456px;
        height: 46px;
        margin-left: 40px;
        margin-right:0px;
        margin-top:106px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 1024px){
    .place__website{
        width: 456px;
        height: 46px;
        margin-left: 32px;
        margin-right:0px;
        margin-top: 30px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 768px){
    .place__website{
        width: 352px;
        height: 46px;
        margin-left: 28px;
        margin-right:0px;
        margin-top:0px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 320px){
    .place__website{
        width:288px;
        height: 46px;
        margin-left: 16px;
        margin-right:16px;
        margin-top:32px;
        margin-bottom: 32px;
    }
}